.home-container { 
  padding: 20px; 
}
.text-center { 
  text-align: center; 
}

.alert-box {
  padding: 15px;
  margin-top: 20px;
  border-radius: 4px;
  text-align: center;
  font-size: 0.9rem;
}

.danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.input-panel {
  text-align: center;
}

.advanced-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.advanced-grid input {
  width: 120px;
  padding: 5px;
}

.product-table {
  width: 100%;
  margin-top: 40px;
}

.product-table th, .product-table td {
  padding: 12px;
  border: 3px solid #070000;
  text-align: center;
}
