<div class="auth-container">
  <div class="auth-card">
    <h2>Change Password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Mobile Number</label>
            <input type="text" formControlName="mobileNumber"
            [class.error-border]="changePasswordForm.get('mobileNumber')?.touched && changePasswordForm.get('mobileNumber')?.invalid">
            <span class="error-text"
                *ngIf="changePasswordForm.get('mobileNumber')?.touched && changePasswordForm.get('mobileNumber')?.invalid">
            10-digit number required
            </span>
        </div>
        <div class="form-group">
        <label>Current Password</label>
        <input type="password" formControlName="currentPassword"
          [class.error-border]="changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.invalid">
        <span class="error-text"
              *ngIf="changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.invalid">
          Current password is required
        </span>
      </div>
      <div class="form-group">
        <label>New Password</label>
        <input
          type="password" formControlName="newPassword"
          [class.error-border]="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.invalid">
        <span class="error-text"
              *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.invalid">
          Password must be at least 8 characters with upper, lower, number & special character
        </span>
      </div>

      <button type="submit" class="submit-button" [disabled]="changePasswordForm.invalid">
        Update Password
      </button>

      <div class="alert-box success" *ngIf="isSuccessful">
        Password updated successfully.
      </div>

      <div class="alert-box danger" *ngIf="isFailed">
        <strong>Error:</strong> {{serviceError}}
      </div>

    </form>
  </div>
</div>
