<div class="home-container">
  <h2 class="text-center">My Order History</h2>
  <div *ngIf="message" class="alert-box danger">
    {{message}}
  </div>

  <table class="product-table" *ngIf="orders.length > 0">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Delivery Date</th>
        <th>Delivery Address</th>
        <th>Total Items</th>
        <th>Total Amount</th>
        <th>Status</th>
        <th>Details</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of orders">
        <td><strong>#{{o.id}}</strong></td>
        <td>{{o.orderDate}}</td>
        <td>{{o.deliveryDate}}</td>
        <td>{{o.address}}</td>
        <td>{{o.items?.length || 0}}</td> 
        <td>{{o.totalAmount}}</td>
        <td [ngStyle]="{'color': o.status === 'DELIVERED' ? 'green' : 'blue'}">
          {{o.status}}
        </td>
        <td>
          <button (click)="openDetails(o)">View Items</button>
        </td>
        <td>
        <button (click)="openCancelBox(o.id)" class="button-cancel-action" [disabled]="!canCancel(o.status)">
          Cancel
        </button>
      </td>
      </tr>
    </tbody>
  </table>
  <div class="confirm-box" *ngIf="showCancelBox">
    <div class="modal-box">
        <h3>Confirm Cancellation</h3>
        <p>Are you sure want to cancel <strong>Order #{{orderToCancelId}}</strong></p>
        <div class="options">
        <button class="button-yes" (click)="confirmCancel()">Yes</button>
        <button class="button-no" (click)="closeCancelBox()">No</button>
        </div>
    </div>
    </div>
  <div class="confirm-box" *ngIf="showDetailsBox">
    <div class="modal-box" style="max-width: 600px;"> <h3>Items for Order #{{selectedOrder?.id}}</h3>
      <table class="product-table" style="font-size: 0.9rem; margin-top: 15px;">
        <thead>
          <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Qty</th>
            <th>Unit Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of selectedOrder?.items">
            <td>{{item.productId}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.unitPrice}}</td>
          </tr>
        </tbody>
      </table>
      <div class="options" style="margin-top: 20px;">
        <button class="button-no" (click)="closeDetails()">Close</button>
      </div>
    </div>
  </div>
  <div class="text-center" style="margin-top: 20px;">
    <button class="button-back" routerLink="/home" style="padding: 8px 14px; background: black; color: white;">
      Back to Dashboard
    </button>
  </div>
</div>