.container {
  padding: 20px;
}

h2 {
  text-align: center;
}

.error-message {
  color: red;
  text-align: center;
}

.empty-message {
  text-align: center;
  color: #666;
}

.product-table {
  width: 100%;
  text-align: center;
  border: 1px solid black;
}

.product-table th {
  background-color: #deec0d;
  padding: 10px;
  border: 1px solid black;
}

.product-table td {
  padding: 10px;
  border: 1px solid black;
}
